.content-menu-right{
  display: flex;
  align-items: center;
  .menu-right{
    transition: all 0.3s ease-in-out;
    top: 0;
    left:0;
    display: none;
    @media (max-width: $media-large){
      display: block;
      margin-right: 2rem;
      z-index: 10;
    }
    .content-button{
      transition: all 0.3s ease-in-out;
      .hamburger{
        z-index: 10;
        .line{
          width: 30px;
          height: 2px;
          background-color: $color-black;
          display: block;
          margin: 7px auto;
          transition: all 0.3s ease-in-out;
        }
        &.is-active{
          position: fixed;
          .line:nth-child(1){
            transform: translateY(6px) rotate(45deg);
            background-color: #fff;
          }
          .line:nth-child(2){
            opacity: 0;
          }
          .line:nth-child(3){
            transform: translateY(-13px) rotate(-45deg);
            background: #fff;
          }
  
        }
      }
    }
  }
}
.menu-list{
  position: fixed;
  top:0;
  bottom:0;
  right: 0;
  background-color: $color-red;
  opacity: 0.9;
  transform: translate(0, 0);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  &.close-menu{
    transform: translate(100%, 0);
  }
  .menu-link{
    margin-top: 100px;
    li{
      text-align: right;
      right: 0;
      padding: 15px 0;
      @media (max-width: $media-large){
        text-align: center;
      }
      a{
        font-size: 25px;
        color: #fff!important;
        &:hover{
          color: #07423D;
          cursor: pointer;
        }
      }
    }
  }

}