//FONT
$font-base:'Raleway', sans-serif;


//COLOR
$color-blue-prometeon: #212B59;
$color-white: #ffffff;
$color-black: #000000;
$color-menu: #1A2C5E;
$color-gray-dark: #707070;
$color-gray-light: #B2B2B2;
$color-footer: #878787;
$custom-blu: #003E67;
$color-invalid: #FF0000;
$color-text: #4f4f4f;

$color-red:#C90505;
$color-gray:#F0F0F0;

//MEDIA QUERIES
$media-extra-large: 1200px;
$media-extra-large-1: 1199px;
$media-large: 960px;
$media-large-1: 959px;
$media-small: 768px;
$media-small-1: 767px;
$media-small-up: 769px;
$media-extra-small: 576px;

$media-content: 1170px;


$distance-bottom:100px;

$height-map-dealer:430px;
